{% extends 'security.html.twig' %}


{% block body %}
    <div class="box wide">
        <div class="header">
            <h1 class="title">
                <i class="fa fa-lock" aria-hidden="true"></i> {% block title %}{{ 'reset_password.confirm.title'|trans({}, 'PLejeuneUser') }}{% endblock %}
            </h1>
        </div>
        <div class="body">
            {{ 'reset_password.confirm.body'|trans({}, 'PLejeuneUser') }}
        </div>
        <div class="footer">
        </div>
    </div>
{% endblock %}