{% extends 'security.html.twig' %}

{% block body %}
    <div class="box wide">
        <div class="header">
            <h1 class="title">
                <i class="far fa-check-square" aria-hidden="true"></i> {% block title %}{{ 'registration_validation.title'|trans({'%firstname%' : user.firstname}, 'PLejeuneUser') }}{% endblock %}
            </h1>
        </div>
        <div class="body">
            {{ 'registration_validation.message'|trans({'%login%':path('plejeune_user_login')}, 'PLejeuneUser')|raw }}
        </div>
    </div>
{% endblock %}