{% extends 'security.html.twig' %}

{% block body %}
    <div class="box wide">
        <div class="header">
            <h1 class="title">
                <i class="far fa-check-square" aria-hidden="true"></i> {% block title %}{{ 'registration_confirmation.title'|trans({'%firstname%' : user.firstname}, 'Darkanakin41User') }}{% endblock %}
            </h1>
        </div>
        <div class="body">
            {{ 'registration_confirmation.message'|trans({'%email%' : user.email}, 'Darkanakin41User')|raw }}
        </div>
    </div>
{% endblock %}
